{% extends 'base.html.twig' %}

{% block title %}Inicio de sesión{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }

        .login-box {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="login-box">
            <div class="login-logo text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                </svg>
            </div>
            <h3 class="text-center">Inicio de sesión</h3>

            <form class="form-signin" method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {% if app.user %}
                    Ya estás logueado como {{ app.user.username }}. <a href="{{ path('app_logout') }}"> Cerrar sesión </a>
                {% endif %}

                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="" required autofocus>
                </div>

                <div class="form-group">
                    <label for="inputPassword">Contraseña</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="" required>
                </div>

                <div class="form-group form-check d-flex align-items-center gap-1">
                    <input type="checkbox" name="_remember_me" id="rememberMe" class="form-check-input">
                    <label class="form-check-label" for="rememberMe">Recordarme</label>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
                <br>
                <h5><a href="{{ path('register') }}">¿No tienes cuenta? Regístrate aquí</a></h5>
            </form>
        </div>
    </div>
{% endblock %}
