{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300%7CQuestrial">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
{% endblock %}

<footer class="section footer-classic section-full section-full-1 section-sm section-inset-2 bg-gray-3 context-dark text-md-center">
        <div class="container">
          <h2><span class="d-inline-block wow fadeInRight">Rellene este formulario para m치s informaci칩n </span>
            <div class="subtitle-classic wow fadeInUp">Nuestro equipo se pondr치 en contacto con usted</div>
          </h2>
          <!-- RD Mailform-->
          <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
            <div class="form-wrap wow fadeInRight">
              <label class="form-label" for="contact-name">Nombre y apellidos</label>
              <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
            </div>
            <div class="form-wrap wow fadeInRight">
              <label class="form-label" for="contact-email">E-Mail</label>
              <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Required @Email">
            </div>
            <div class="form-wrap wow fadeInRight">
              <label class="form-label" for="contact-message">Mensaje</label>
              <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
            </div>
            <div class="form-button text-center">
              <button class="button button-default wow fadeInUp" type="submit" id="contacts">Enviar</button>
            </div>
          </form>
        </div>
        <div class="container">
          <div class="footer-classic-list-social wow fadeInUp">
            <ul class="list-inline list-social list-inline-sm">
              <li>
                <a class="icon" href="#" style="display: flex; justify-content: center;">
                  <img src="/images/iconos/linkedin.png" alt="LinkedIn" style="margin: auto;">
                </a>
              </li>
              <li>
                <a class="icon" href="#" style="display: flex; justify-content: center;">
                  <img src="/images/iconos/twiter.png" alt="Twiter" style="margin: auto;">
                </a>
              </li>
              <li>
                <a class="icon" href="#" style="display: flex; justify-content: center;">
                  <img src="/images/iconos/facebook.png" alt="Facebook" style="margin: auto;">
                </a>
              </li>
              <li>
                <a class="icon" href="#" style="display: flex; justify-content: center;">
                  <img src="/images/iconos/instagram.png" alt="Instagram" style="margin: auto;">
                </a>
              </li>
            </ul>
          </div>
          <p class="rights wow fadeInUp"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span> BLUE HORIZON </span><span>.&nbsp;</span><span>All rights reserved.</span><br>David Galvez <br> Alejandro L칩pez</p>
        </div>

        <br>
        <a href="{{ path('inicio') }}" style="color: white;">Volver a inicio</a>
      </footer>