{% extends 'base.html.twig' %}

{% block title %}BH Cruceros{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300%7CQuestrial">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <style>
      .ie-panel{
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
      clear: both;
      text-align:center;
      position: relative;
      z-index: 1;
      } 
      html.ie-10 .ie-panel,html.lt-ie-10 .ie-panel {
      display: block;
      }
    </style>
{% endblock %}



{% block content %}

<style>
 p{
  color: #000000;
  font-weight: 700;
}

</style>
<!-- BLUE HORIZON-->

            <ul class="nav-custom rd-navbar-nav">
              <li><a class="nav-custom-counter" href="#home"></a></li>
              <li><a class="nav-custom-counter" href="#about"></a></li>
              <li><a class="nav-custom-counter" href="#works"></a></li>
              <li><a class="nav-custom-counter" href="#projects"></a></li>
              <li><a class="nav-custom-counter" href="#contacts"></a></li>
            </ul>

<section class="section section-full section-inset-1 bg-default text-center bg-image background-position-1" id="home" style="background-image: url(images/trail-sea-water-surface-boat.jpg)">
  <div class="container">
    <div class="title-style-1-wrap">
      <div class="oh-desktop wow slideInLeft">
        <h1 class="title-style-1 wow slideInRight">BLUE HORIZON</h1>
      </div>
    </div>
    <div class="title-style-2-wrap">
      <div class="oh-desktop wow slideInRight">
        <h5 class="title-style-2 wow slideInLeft">Mas que un crucero, una experiencia.</h5>
      </div>

      <!-- Agregar formulario -->
      <form class="form-style form-large form-inline" action="{{ path('inicio') }}" method="GET">
      <div class="form-group">
        <label for="destino">Destino:</label>
        <select class="form-control" id="destino" name="destino" required>
          <option value="">Destino</option>
          {% for destino in destinos %}
            <option value="{{ destino }}">{{ destino }}</option>
          {% endfor %}
        </select>

        <label for="experiencia">Experiencia:</label>
        <select class="form-control" id="experiencia" name="experiencia" required>
          <option value="">Experiencia</option>
          {% for tipo in tipos %}
            <option value="{{ tipo.nombre }}">{{ tipo.nombre }}</option>
          {% endfor %}
        </select>

        <label for="fecha">Fecha:</label>
        <input type="date" class="form-control" id="fecha" name="fecha" required>

        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>
      <!-- Fin del formulario -->
    </div>
  </div>
</section>
      
      <!-- About Us-->
      <section class="section section-full section-xxl bg-default" id="about">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-sm-9 col-md-5 cube-classic-wrap">
              <h2 class="wow fadeInLeft">¡Bienvenido a nuestro sitio web <br class="d-none d-md-block"><span class="text-primary">de cruceros</span>  de ensueño! <br class="d-none d-md-block">
              </h2>
              <div class="cube-classic cube-classic-1"><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span>
              </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
              <p class="wow fadeInRight">Estamos encantados de recibirte a bordo de esta experiencia virtual donde podrás explorar los destinos más exóticos y emocionantes del mundo, mientras sueñas con tus próximas vacaciones en alta mar. Sumérgete en un océano de posibilidades y déjanos llevar tus sueños de viaje a un nivel completamente nuevo.</p>
              <p class="wow fadeInRight">¡Empieza a explorar nuestro sitio web y déjate llevar por la emoción de los cruceros! Estamos seguros de que encontrarás la escapada perfecta que te permitirá relajarte, descubrir nuevos horizontes y crear recuerdos duraderos.     </p>
              <p class="wow fadeInRight">¡Bienvenido a bordo y que comience la aventura de tus sueños!</p>
            </div>
          </div>
        </div>
      </section>
      <!-- Selected works-->
      <section class="section section-full section-md bg-gray-100 section-background-custom" id="works">
        <div class="container">
          <div class="row row-30 justify-content-center justify-content-lg-end align-items-md-center">
            <div class="col-sm-8 col-md-6 col-lg-5 cube-classic-wrap">
              <h2 class="wow fadeInLeft" data-wow-delay=".1s">Cruceros mas  <span class="text-primary d-inline-block wow fadeInRight">vendidos</span>
              </h2>
              <p class="wow fadeInLeft">Si estás buscando una experiencia de viaje única y emocionante, los cruceros son una excelente opción. Ya sea que sueñes con relajarte en playas paradisíacas, descubrir ciudades fascinantes o disfrutar de una gran variedad de actividades a bordo, los cruceros ofrecen todo esto y más.</p>
              <div class="cube-classic cube-classic-2"><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span><span class="cube-classic-item"></span>
              </div>
            </div>
            <div class="col-sm-8 col-md-6 wow blurIn">
              <div class="inset-xl-left-25">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-style-1" data-loop="true" data-items="1" data-nav="true" data-nav-text='["<", ">"]'>
                  <div>
                    <a href="{{ path('cruceros_por_tipo', {tipoId: 6}) }}">
                      <img src="images/amigos-ibiza.jpg" alt="" width="618" height="614"/>
                      <h4 style="text-align:center;">Adolescentes</h4>
                    </a>
                  </div>
                  <div>
                    <a href="{{ path('cruceros_por_tipo', {tipoId: 3}) }}">
                      <img src="images/solteros.jpg" alt="" width="618" height="614"/>
                      <h4 style="text-align:center;">Solteros</h4>
                    </a>
                  </div>
                  <div>
                    <a href="{{ path('cruceros_por_tipo', {tipoId: 5}) }}">
                      <img src="images/abuelos2.jpg" alt="" width="618" height="614"/>
                      <h4 style="text-align:center;">Tercera edad</h4>
                    </a>
                  </div>
                  <div>
                    <a href="{{ path('cruceros_por_tipo', {tipoId: 1}) }}">
                      <img src="images/pareja.jpg" alt="" width="618" height="614"/>
                      <h4 style="text-align:center;">Parejas</h4>
                    </a>
                  </div>
                  <div>
                    <a href="{{ path('cruceros_por_tipo', {tipoId: 2}) }}">
                      <img src="images/familia.jpg" alt="" width="618" height="614"/>
                      <h4 style="text-align:center;">Familias</h4>
                    </a>
                  </div>
                  <div>
                    <a href="{{ path('cruceros_por_tipo', {tipoId: 4}) }}">
                      <img src="images/gay.jpg" alt="" width="618" height="614"/>
                      <h4 style="text-align:center;">LGBTI+</h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="background-custom-1 bg-default"></div>
      </section>
      <!-- Portfolio-->
      <section class="section section-full section-xl bg-default text-md-center" id="projects">
        <div class="container">
          <h2><span class="d-inline-block wow fadeInLeft">Todos nuestros</span> <span class="text-primary d-inline-block wow fadeInRight">destinos</span>
          </h2>
          <div class="row row-lg row-30">
            <div class="col-sm-6 col-md-4 wow blurIn" data-wow-delay=".2s">
              <article class="project-classic box-md"><img src="images/caribe.jpg" alt="" width="370" height="262"/>
                <div class="project-classic-caption">
                  <div>
                    <h4 class="project-classic-title"> <a href="{{ path('cruceros_por_destino', {destino: "Caribe"}) }}">CARIBE</a></h4>
                  
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 wow blurIn" data-wow-delay=".1s">
              <article class="project-classic box-md"><img src="images/mediterraneo.jpg" alt="" width="370" height="262"/>
                <div class="project-classic-caption">
                  <div>
                    <h4 class="project-classic-title"><a href="{{ path('cruceros_por_destino', {destino: "Mediterráneo"}) }}">MEDITERRANEO</a></h4>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 wow blurIn">
              <article class="project-classic box-md"><img src="images/alaska.jpg" alt="" width="370" height="262"/>
                <div class="project-classic-caption">
                  <div>
                    <h4 class="project-classic-title"><a href="{{ path('cruceros_por_destino', {destino: "Alaska"}) }}">ALASKA</a></h4>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 wow blurIn">
              <article class="project-classic box-md"><img src="images/noruega.jpg" alt="" width="370" height="262"/>
                <div class="project-classic-caption">
                  <div>
                    <h4 class="project-classic-title"><a href="{{ path('cruceros_por_destino', {destino: "Norte de Europa"}) }}">NORTE DE EUROPA</a></h4>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 wow blurIn" data-wow-delay=".1s">
              <article class="project-classic box-md"><img src="images/piramide.jpg" alt="" width="370" height="262"/>
                <div class="project-classic-caption">
                  <div>
                    <h4 class="project-classic-title"><a href="{{ path('cruceros_por_destino', {destino: "Egipto"}) }}">EGIPTO</a></h4>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 wow blurIn" data-wow-delay=".2s">
              <article class="project-classic box-md"><img src="images/Islas Maldivas.jpg" alt="" width="370" height="262"/>
                <div class="project-classic-caption">
                  <div>
                    <h4 class="project-classic-title"><a href="{{ path('cruceros_por_destino', {destino: "Sudáfrica"}) }}">SUDÁFRICA</a></h4>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 wow blurIn">
              <article class="project-classic box-md"><img src="images/dubai.jpg" alt="" width="370" height="262"/>
                <div class="project-classic-caption">
                  <div>
                    <h4 class="project-classic-title"><a href="{{ path('cruceros_por_destino', {destino: "Dubai"}) }}">DUBAI</a></h4>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 wow blurIn" data-wow-delay=".1s">
              <article class="project-classic box-md"><img src="images/sudamerica.jpg" alt="" width="370" height="262"/>
                <div class="project-classic-caption">
                  <div>
                    <h4 class="project-classic-title"><a href="{{ path('cruceros_por_destino', {destino: "Sudamérica"}) }}">SUDAMÉRICA</a></h4>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-md-4 wow blurIn" data-wow-delay=".2s">
              <article class="project-classic box-md"><img src="images/asia.jpg" alt="" width="370" height="262"/>
                <div class="project-classic-caption">
                  <div>
                    <h4 class="project-classic-title"><a href="{{ path('cruceros_por_destino', {destino: "Asia"}) }}">ASIA</a></h4>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>

       
      </section>

{% endblock %}
