{% extends 'base.html.twig' %}

{% block title %}Registro de usuario{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <style>
      .ie-panel{
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
      clear: both;
      text-align:center;
      position: relative;
      z-index: 1;
      } 
      html.ie-10 .ie-panel,html.lt-ie-10 .ie-panel {
      display: block;
      }
    </style>
{% endblock %}

{% block content %}
   <div class="m-5 custom-content">
    <form class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal text-center">Registro de usuario</h1>

        {{ form_start(registrationForm) }}

        {% if form_errors(registrationForm) %}
            <div class="alert alert-danger">
                {{ form_errors(registrationForm) }}
            </div>
        {% endif %}

        <label>Correo electrónico</label>
        <div class="form-label-group">
            {{ form_label(registrationForm.email, 'Correo electrónico') }}
            {{ form_widget(registrationForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Correo electrónico', 'autofocus': true} }) }}
            {{ form_errors(registrationForm.email) }}
        </div>
        <label>Contraseña</label>
        <div class="form-label-group">
            {{ form_label(registrationForm.plainPassword, 'Contraseña') }}
            {{ form_widget(registrationForm.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'Contraseña'} }) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>
        <label>Acepto los términos y condiciones</label>
        <div class="form-group form-check">
            {{ form_label(registrationForm.agreeTerms, 'Acepto los términos y condiciones', { 'label_attr': {'class': 'form-check-label'} }) }}
            {{ form_widget(registrationForm.agreeTerms, { 'attr': {'class': 'form-check-input'} }) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Registrar</button>

        {{ form_end(registrationForm) }}


        <p>¿Ya tienes una cuenta? <a href="{{ path('app_login') }}">Iniciar sesión</a></p>
    </form>
</div>

{% endblock %}