{% extends 'base.html.twig' %}

{% block title %}BH Cruceros{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300%7CQuestrial">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cruceros.css') }}">
    <style>
      .ie-panel{
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
      clear: both;
      text-align:center;
      position: relative;
      z-index: 1;
      } 
      html.ie-10 .ie-panel,html.lt-ie-10 .ie-panel {
      display: block;
      }
    </style>
{% endblock %}



{% block content %}

<style>
 p{
  color: #000000;
  font-weight: 700;
}

</style>


<h1>Confirmación de Reserva</h1>
    <p>¡Tu reserva se ha realizado con éxito!</p>

    <h2>Detalles de la reserva:</h2>
    <ul>
        <li>Crucero: {{ crucero.nombre }}</li>
        <li>Tipo de Crucero: {{ crucero.tipo.nombre }}</li>
        <p>Destino del crucero: {{ crucero.destino }}</p>
        <p>Puerto de salida: {{ crucero.puertoDeSalida }}</p>
        <p>Puerto de llegada: {{ crucero.puertoDeLlegada }}</p>
        <p>Fecha de salida: {{ crucero.fechaDeSalida|date('d/m/Y') }}</p>
        <p>Fecha de llegada: {{ crucero.fechaDeLlegada|date('d/m/Y') }}</p>
        <p>Camarote: {{ camarote.nombre }} - ({{ camarote.precio }} € {{ camarote.descripcion }})</p>
        <p>Servicio: {{ servici.nombre }} - ({{ servici.precio }} € {{ servici.descripcion }})</p>
    </ul>
    <p>Precio Total: {{ suma }} €</p>
    <p>Gracias por elegir nuestro servicio. ¡Esperamos que disfrutes de tu crucero!</p>
    <p><a class="rd-nav-link" href="/">Volver al inicio</a></p>
{% endblock %}