{# list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}BH Cruceros{% endblock %}

{% block content %}
    <section class="section bg-image background-position-1 section-formulario" id="home" style="background-image: url(images/trail-sea-water-surface-boat.jpg)">
        <form class="form-style form-large form-inline" action="{{ path('cruceros_list') }}" method="GET">
            <div class="form-group">
                <label for="destino">Destino:</label>
                <select name="destino" id="destino">
                    <option value="">Todos</option>
                    {% for destino in destinos %}
                        <option value="{{ destino }}">{{ destino }}</option>
                    {% endfor %}
                </select>

                <label for="experiencia">Experiencia:</label>
                <select name="experiencia" id="experiencia">
                    <option value="">Todas</option>
                    {% for experiencia in experiencias %}
                        <option value="{{ experiencia }}">{{ experiencia }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </div>
        </form>
    </section>

    {% for crucero in cruceros %}
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="../images/mediterraneo.jpg" alt="Imagen" class="card-img" width="300px" height="200px">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h3 class="card-title">{{ crucero.nombre }}</h3>
                    <p class="card-text">{{ crucero.descripcion }}</p>
                    {% for tipo in tipos %}
                        {% if tipo.id == crucero.tipo.id %}
                            <p class="card-text">Tipo: {{ tipo.nombre }}</p>
                        {% endif %}
                    {% endfor %}
                    <p class="card-text">Fecha de salida: {{ crucero.fechaDeSalida|date('d-m-Y') }}</p>
                </div>
            </div>
            <div class="col-md-2 align-self-end">
                <a href="{{ path('reservar_crucero', { 'cruceroId': crucero.id }) }}" class="btn btn-primary">Reservar</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
