{% extends 'base.html.twig' %}

{% block title %}BH Cruceros{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300%7CQuestrial">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cruceros.css') }}">
    <style>
      .ie-panel{
      display: none;
      background: #212121;
      padding: 10px 0;
      box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
      clear: both;
      text-align:center;
      position: relative;
      z-index: 1;
      } 
      html.ie-10 .ie-panel,html.lt-ie-10 .ie-panel {
      display: block;
      }
    </style>
{% endblock %}



{% block content %}

<style>
 p{
  color: #000000;
  font-weight: 700;
}
  .row {
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .card-img {
    width: 100%;
    height: 100%;
    max-height: 400px;
  }

  .card-body {
    padding: 10px; /* Ajusta el espaciado interno del cuerpo de la tarjeta según tus necesidades */
  }

  .card-title {
    /*color texto*/
    color: #1BCEEE;
    font-size: 1.5rem;
  }

 .card-text {
  margin-top: 0;
  margin-bottom: 5px; /* Ajusta el margen inferior según tus necesidades */
  font-size: 14px;
}

  .btn {
  margin-right: 10px;
  margin-left: 10px;
   width: 80%;
 }

.row:hover {
  background-color: #EBF5FB;
  transition: background-color 2s ease;
}

.row .col-md-5:hover .card-title{
  color: #2E86C1;
  transition: color 2s ease;
}

.row .col-md-5:hover .card-text {
  color: #000000;
  transition: color 2s ease;
}


.form-form {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: #A8D7DF;
}
  h2{
    color: #000000;
    /*centro de la pagina*/
    text-align: center;
    font-size: 30px;
    }

.image-container {
  position: relative;
  display: inline-block;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>

<!-- BLUE HORIZON-->


<div class="image-container">
  <img src="{{ asset('../images/barcos.jpg') }}" class="img-fluid" alt="Responsive image">
  <div class="image-text">
<h2>¡Era esto justo lo que estabas buscando!</h2>
<h2>¡No te lo pienses más y reserva ya!</h2>
  </div>
</div>

<div class="align-self-center align-items-center d-flex">
  <a href="{{ path('inicio') }}" style="color: blue;">
    <h5 style="font-size: 16px;">Volver a la página de inicio</h5>
  </a>
</div>    



{% for crucero in cruceros %}

<div class="row no-gutters">
  <div class="col-md-5">
    <img src="{{ crucero.imagen }}" alt="Imagen" class="card-img">

  </div>

  <div class="col-md-5">
    <div class="card-body">
      <h3 class="card-title">{{ crucero.nombre }}</h3>
      <p class="card-text">{{ crucero.descripcion }}</p>
      {% for tipo in tipos %}
        {% if tipo.id == crucero.tipo.id %}
          <p class="card-text">Tipo: {{ tipo.nombre }}</p>
        {% endif %}
      {% endfor %}
      <p class="card-text">Fecha de salida: {{ crucero.fechaDeSalida|date('d-m-Y') }}</p>
      <p class="card-text">Fecha de llegada: {{ crucero.fechaDeLlegada|date('d-m-Y') }}</p>
    </div>
  </div>

  <div class="col-md-2 align-self-center align-items-center">
    <a href="{{ path('privatereservar_crucero', { 'cruceroId': crucero.id }) }}" class="btn btn-primary">Reservar</a>
  </div>
</div>

  {% endfor %}

  <div class="align-self-center align-items-center d-flex">
  <a href="{{ path('inicio') }}" style="color: blue;">
    <h5 style="font-size: 16px;">Volver a la página de inicio</h5>
  </a>
</div> 


{% endblock %}
