{% extends 'base.html.twig' %}

{% block title %}BH Cruceros{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat:300%7CQuestrial">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cruceros.css') }}">

{% endblock %}



{% block content %}

<style>
 p{
  color: #000000;
  font-weight: 700;
}

body{
  background-image: url("{{ asset('../images/inicio.jpg') }}");
}

.card{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

h5{
    color: #FFFFFF;
    font-weight: 400;
}

</style>
<a style="text-align:right;" href="{{ path('app_logout') }}"> Cerrar sesión </a>

<h1 style="color: #FFFFFF; text-align: center;">Reservas por crucero</h1>

{% for reservaPorCrucero in reservasPorCrucero %}
    <div class="card" style="cursor: pointer;">
        <div class="card-header">
            <h3>{{ reservaPorCrucero.nombre }} - {{ reservaPorCrucero.tipo }}</h3>
        </div>
        <div class="card-body">
            <p>Fecha de salida y de llegada: {{ reservaPorCrucero.fechaSalida|date('d/m/Y') }} - {{ reservaPorCrucero.fechaLlegada|date('d/m/Y') }}</p>
            <p>Usuarios que han reservado:</p>
            <ul class="usuarios-lista" style="display: none;">
                {% for reserva in reservaPorCrucero.reservasDetalle %}
                    <li>{{ reserva.usuario.email }} - {{ reserva.fecha|date('d/m/Y') }} - {{ reserva.camarote.nombre }}</li>
                {% endfor %}
            </ul>
            <p>Número de reservas: {{ reservaPorCrucero.reservas }}/{{ reservaPorCrucero.huecosRestantes }}</p>
            
        </div>
    </div>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $(".card").click(function() {
        $(this).find(".usuarios-lista").slideToggle();
    });
});
</script>



<div class="align-self-center align-items-center d-flex">
  <a href="{{ path('admininicio_admin') }}" style="color: blue;">
    <h5 style="font-size: 16px;">Volver a la página anterior</h5>
  </a>
</div>
{% endblock %}